In [1]:
myString = "Hello"
myList = []
for letter in myString:
    myList.append(letter)
myList

['H', 'e', 'l', 'l', 'o']

In [2]:
myList = [letter for letter in myString]
myList

['H', 'e', 'l', 'l', 'o']

In [3]:
myList = [x for x in 'word']
myList

['w', 'o', 'r', 'd']

In [4]:
myList = [num**2 for num in range(0,11)]
myList # get squared nums for those in the range

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
myList = [x for x in range(0,11) if x % 2 == 0]

In [6]:
myList

[0, 2, 4, 6, 8, 10]

In [7]:
myList = [x**2 for x in range(0,11) if x % 2 == 0]
myList # get squares of even numbers

[0, 4, 16, 36, 64, 100]

In [8]:
celcius = [0, 10, 20, 34.5]
fahrenheit = [(9/5 * temp + 32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [9]:
results = [x if x % 2 == 0 else 'odd' for x in range(0,11)]
results

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [11]:
myList = []
for x in [2, 4, 6]:
    for y in [1, 10, 1000]:
        myList.append(x * y)
myList

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [12]:
myList = [x * y for x in [2, 4, 6] for y in [1, 10, 1000]]
myList

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]