In [1]:
def square(num):
    return num ** 2
myNums = [1, 2, 3, 4, 5]
for item in map(square, myNums):
    print(item)

1
4
9
16
25

In [2]:
def splicer(myString):
    # has even number of characters in string
    if len(myString) % 2 == 0:
        return 'Even'
    else:
        return myString[0]
names = ['Andy', 'Eve', 'Sally']
list(map(splicer, names))

['Even', 'E', 'S']

In [6]:
def checkEven(num):
    return num % 2 == 0
myNums = [1, 2, 3, 4, 5, 6]
for n in filter(checkEven, myNums):
    print(n)

2
4
6

In [7]:
def square(num):
    result = num ** 2
    return result
square(3)

9

In [8]:
square = lambda num: num ** 2
square(4)

16

In [9]:
list(map(lambda num: num ** 2, myNums))

[1, 4, 9, 16, 25, 36]

In [11]:
list(filter(lambda num: num % 2 == 0, myNums))

[2, 4, 6]

In [12]:
list(map(lambda name: name[0], names))

['A', 'E', 'S']

In [2]:
names = ['Adam', 'Eve', 'Sally']
list(map(lambda x:x[::-1],names))

['madA', 'evE', 'yllaS']